# Web framework
Flask==3.0.3

# Servidor WSGI para producción
gunicorn==22.0.0

# Utilidades para seguridad de Flask
itsdangerous==2.2.0
Jinja2==3.1.4
Werkzeug==3.0.3
Flask-Login>=0.6.3
Flask-Bcrypt>=1.0.1
Flask-WTF>=1.2.1
Flask-Limiter>=3.7.0
email-validator>=2.2.0

# Testing
pytest==8.3.3
pytest-cov==5.0.0
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.32

# Migraciones
Flask-Migrate==4.0.7
alembic>=1.13.2

# Drivers de base de datos
psycopg[binary]>=3.2.1

# Scheduler y zonas horarias
APScheduler>=3.10.4
pytz>=2024.1

# Metrics
prometheus-client>=0.20.0
