# Web framework
Flask==3.0.3

# Servidor WSGI para producción
gunicorn==22.0.0

# Utilidades para seguridad de Flask
itsdangerous==2.2.0
Jinja2==3.1.4
Werkzeug==3.0.3

# Testing
pytest==8.3.3
pytest-cov==5.0.0
