{% extends "base.html" %}
{% block title %}Entrar{% endblock %}
{% block content %}
<article>
  <h2>Iniciar sesión</h2>
  <form method="post" action="{{ url_for('auth.login_post') }}">
    <label class="form-label">
      Usuario
      <input class="form-control" type="text" name="username" required autofocus>
    </label>
    <label class="form-label">
      Contraseña
      <input class="form-control" type="password" name="password" required>
    </label>
    <button type="submit">Entrar</button>
    <div class="mt-4 text-center">
      <a href="{{ url_for('auth.register') }}" class="btn btn-lg btn-outline-primary">
        ✨ Crear un nuevo usuario
      </a>
    </div>
  </form>
</article>
{% endblock %}
